.menu{
list-style:none;
position:fixed;
background-color:black;
color:white;
width:100%;
top:0px;
z-index:10;
}
body{
text-align:center;
}
.links{
font-size:25px;
display:inline;
padding-left:30px;
padding-right:30px;
color:white;
}
.row img{
height:200px;
width:200px;
border:2px solid silver;
}
#mycarousel{
background-color:antiquewhite;
}
#mycarousel img{
height:300px;
width:90%;
margin-top:35px;
}
.carousel-inner{
text-align:center;
}
